.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.profile-button-container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 200px) {
  .profile-button-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .profile-button-container > button {
    flex-basis: 50%; /* Each button takes 50% of the container's width */
  }
}
