@media (max-width: 450px) {
  .datePicker-form {
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
  }

  /* .datePickerButton {
    justify-content: flex-start;
  } */

  .form-group {
    width: 230px;
  }

  .datePickerButton {
    width: 100%;
    margin-bottom: 50px;
  }
}
