.orderHistoryTableWidth {
  margin-left: 10%;
  margin-right: 10%;
}

@media (width: 1080px) {
  .orderHistoryTableWidth {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (width: 1024px) {
  .orderHistoryTableWidth {
    margin-left: 9%;
    margin-right: 9%;
  }
}

@media (width: 1280px) {
  .orderHistoryTableWidth {
    margin-left: 8%;
    margin-right: 8%;
  }
}

@media (width: 1920px) {
  .orderHistoryTableWidth {
    margin-left: 8%;
    margin-right: 8%;
  }
}

@media (width: 412px) {
  .orderHistoryTableWidth {
    margin-left: 2%;
    margin-right: 2%;
  }
}

@media (width: 540px) {
  .orderHistoryTableWidth {
    margin-left: 0%;
    margin-right: 0%;
  }
}

@media (width: 540px) {
  .orderHistoryTableWidth {
    margin-left: 0%;
    margin-right: 0%;
  }
}

/* .ant-table-tbody > tr > td {
    padding: 5px; 
    height: 30px; 
  } */

/* .ant-table {
    border: 1px solid #333; 
  } */

/* .ant-table-thead th {
    
    color: #333; 
    border:1px solid #333; 
    padding: 10px;
    height: 30px; 
  } */
/* .ant-table-cell th {
    padding: 10px;
    
  } */
/*   
  .ant-table-tbody tr {
    
    color: #333; 
    border: 1px solid #b4afaf; 
    
  } */
/* .ant-table-tbody td {
    
    color: #333; 
    border: 1px solid #333; 
  } */

/* .ant-table-tbody tr:nth-child(even) {
    background-color: #555;
  } */
